
  <div class="hero-unit">
     <h1>Welcome to One Month Rails</h1>
   <p>
      You've found the home page for the
      <%= link_to "this is rails code that will change to html code", "http://onemonthrails.com" %>
      <a href="http://onemonthrails.com"> One Month Rails</a> application
   </p>
   <p>
      <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
   </p>
 </div>
